<h1>Login</h1>
<form>
    <form action="/login" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" required id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" required id="password">
        </div>
        <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
